@page "/Armala"
@using PizzaBlazor.Shared.Models;
@inject HttpClient client

<div class="container text-center">
    <h3>Hágalo usted mismo!</h3>

    <div class="row">
        <div class="col-6">
            @if (tamanos != null)
            {
                <select class="form-select" aria-label="Default select example" @onchange="TamanoFunc">
                    <option selected hidden>Selecciona el tamaño</option>
                    @foreach (var tamano in tamanos)
                    {
                        <option value=@tamano.Id>@tamano.Tamano</option>
                    }


                </select>
            }
        </div>

        <div class="col-6">
            <table class="table-info">
                <thead>
                    <tr class="table-success">
                        <th scope="col">Elemento</th>
                        <th scope="col">Precio</th>
                    </tr>
                </thead>
                <tbody class="table-light">
                    <tr>
                        <td>Tamaño</td>
                        <td>@tamano_selec.Precio</td>
                    </tr>
                    <tr>
                        <td>Tipo de masa</td>
                        <td>@masa_selec.Precio</td>
                    </tr>
                    <tr>
                        <td>Ingredientes</td>
                        <td>@valor_total_ingredientes</td>
                    </tr>
                    <tr>
                        <td>Precio total</td>
                        <td>@valor_final</td>
                    </tr>
                </tbody>
                
            </table>
            
            
        </div>

    </div>

    <div class="row">
        <div class="col-6">
            @if (masas != null && tamano_selec.Id > 0)
            {
                <select class="form-select" aria-label="Default select example" @onchange="MasaFunc">
                    <option selected hidden>Selecciona la masa</option>
                    @foreach (var masa in masas)
                    {
                        <option value=@masa.Id>@masa.Tipo</option>
                    }


                </select>
            }
        </div>

        <div class="col">
            
            
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            @if (ingredientes != null && masa_selec.Id > 0)
            {
                @foreach (var ingrediente in ingredientes)
                {
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" @onchange="eventArg => {IngSel(ingrediente, eventArg);}">
                        <label class="form-check-label" for="flexCheckDefault">
                            @ingrediente.Nombre
                        </label>
                    </div>
                }

            }
        </div>

        <div class="col-6">
            
            
            
            @if (ingredientes != null && tamano_selec.Id > 0)
            {
                valor_final = valor_total_ingredientes + masa_selec.Precio + tamano_selec.Precio;
            }
            
            
            


        </div>

    </div>
</div>



@code {
    List<Tamanos> tamanos = new List<Tamanos>();
    List<TipoMasa> masas = new List<TipoMasa>();
    List<Ingrediente> ingredientes = new List<Ingrediente>();
    Tamanos tamano_selec = new Tamanos();
    TipoMasa masa_selec = new TipoMasa();
    Ingrediente ingrediente_selec = new Ingrediente();

    List<Ingrediente> ingredientesSel = new List<Ingrediente>();

    Ingrediente nvoIngrediente = new Ingrediente();

    float valor_total_ingredientes;

    float valor_final = 0.0f;




    protected override async Task OnInitializedAsync()
    {
        nvoIngrediente = new Ingrediente { Nombre = "Chetos", Precio = 70.0f };
        await client.PostAsJsonAsync("api/Catalogos/nvoingrediente", nvoIngrediente);
        
        tamanos = await client.GetFromJsonAsync<List<Tamanos>>("api/Catalogos");
        masas = await client.GetFromJsonAsync<List<TipoMasa>>("api/Catalogos/tipomasa");
        ingredientes = await client.GetFromJsonAsync<List<Ingrediente>>("api/Catalogos/ingredientes");

        
    }

    private void TamanoFunc(ChangeEventArgs args)
    {
        var prueba = args;
        string id = prueba.Value.ToString();
        int idint = int.Parse(id);

        tamano_selec = tamanos.Where(tamano => tamano.Id == idint).FirstOrDefault();
    }

    private void MasaFunc(ChangeEventArgs args)
    {
        var prueba = args;
        string id = prueba.Value.ToString();
        int idint = int.Parse(id);

        masa_selec = masas.Where(tipo => tipo.Id == idint).FirstOrDefault();
    }

    private void IngredienteFunc(ChangeEventArgs args)
    {
        var prueba = args;
        string id = prueba.Value.ToString();
        int idint = int.Parse(id);

        ingrediente_selec = ingredientes.Where(ing => ing.Id == idint).FirstOrDefault();
    }

    private void IngSel(Ingrediente ingrediente, ChangeEventArgs args)
    {
        bool prueba = bool.Parse(args.Value.ToString());


        if (prueba)
        {
            ingredientesSel.Add(ingrediente);
        }
        else
        {
            ingredientesSel.Remove(ingrediente);
        }

        valor_total_ingredientes = 0.0f;
        foreach (var elemento in ingredientesSel)
        {
            valor_total_ingredientes += elemento.Precio;
        }

        



    }
}
